.git
.gitignore
.github
.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov
mypy_cache
.ruff_cache
build
dist
results
results/*.json
!results/.gitkeep
logs
*.log
renode
pyrenode3
resources/**/*.pyc
.DS_Store
Thumbs.db
*.spec
preview*.png
demo/mp4
docs/*.pdf
